/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

/*
 * Widget Container CSS
 */

/* padding around all your widget's content */
.lecturelist_widget .s3d-widget-content {
	padding: 10px 20px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
}

table { margin: 0; }

/* widget icon (for widgets that may appear on a dashboard) 
   icons are usually around 18 x 18 pixels */
.lecturelist.s3d-widget .s3d-widget-titlebar .widget_title {
    background: url('/devwidgets/lecturelist/images/lecturelist_icon.png') 
        17px 18px no-repeat;
}


/*
 * Main View CSS
 */
 
.lecturelist_widget .center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.lecturelist_widget h1.lecture-subject {
	border-bottom: 1px solid #CCC;
	padding-bottom: 6px;
}

/* Agenda Table */

.lecturelist_widget table#agenda {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.lecturelist_widget table#agenda tbody:first-child tr:first-child td {
	border-top: none;
}

.lecturelist_widget table#agenda tbody tr:first-child td {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.lecturelist_widget table#agenda tbody tr:last-child td {	
	padding-bottom: 20px;
}

.lecturelist_widget td {
	
	padding: 5px 0 5px 0;
	
}
.lecturelist_widget td.date {
	vertical-align: top;
	font-weight: bold;
	white-space: nowrap;
	width: 80px;
}

.lecturelist_widget td.time {
	vertical-align: top;
	width: 60px;
}

.lecturelist_widget .description {
	overflow: hidden;
}

.lecturelist_widget .summary {
	font-weight: bold;
}
.lecturelist_widget .compact {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
}
.lecturelist_widget .expandable:before {
	content: "[+]";
	font-size: 0.8em;
	vertical-align: top;
	font-family: monospace;
}
.lecturelist_widget .contractable:before {
	content: "[-]";
	font-size: 0.8em;
	vertical-align: top;
	font-family: monospace;
}

.lecturelist_widget .description .full {
	display: none;
	margin: 1em 0em 0em 0em;
	padding: 0 1em 0 1em;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.lecturelist_widget .link:hover {
	text-decoration: underline;
}
.lecturelist_widget .link {
	cursor: pointer;
	color: #2683bc;
}

.lecturelist_widget table.info-block {
	table-layout: auto;
}

/*
 * Settings View CSS
 */
 