/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

/*
 * Widget Container CSS
 */

/* padding around all your widget's content */
.lecturelist_widget .s3d-widget-content {
	padding: 10px 20px;
	color: #333333;
}

/* widget icon (for widgets that may appear on a dashboard) 
   icons are usually around 18 x 18 pixels */
.lecturelist.s3d-widget .s3d-widget-titlebar .widget_title {
    background: url('/devwidgets/lecturelist/images/lecturelist_icon.png') 
        17px 18px no-repeat;
}


/*
 * Main View CSS
 */
 
.lecturelist_widget .center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.lecturelist_widget h1.lecture-subject {
	border-bottom: 1px solid #CCC;
	padding-bottom: 6px;
}

.lecturelist_widget .entry .main-row {
	margin-bottom: 0.5em;
}
.lecturelist_widget .lecture-title {
	font-weight: bold;
	font-size: 1.2em;
}

.lecturelist_widget .lecture-presenter {
	font-style: italic;
	padding-left: 1em;
}

.lecturelist_widget .entry {
	padding-top:    10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

/*
 * Settings View CSS
 */
 